.header {
  align-content: center;
  text-align: center;
  color: rgb(0, 195, 65);
  justify-content: center;
  padding: 10px 0px 10px;
  background-color: rgb(224, 224, 224);
}

.footer {
  background-color: rgb(224, 224, 224);
}
